.clients {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
   
    
 
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-basis: calc((100% - 4 * 15) / 2); */
        width: 212px;
        height: 94px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: var(--iconsColor);
      
        transition: border var(--animation), color var(--animation);
    }

    &__link:hover,
    &__link:focus {
      border: 1px solid var(--activeSelection);
      color: var(--activeSelection);
    }

    &__icon {
        fill: currentColor;
    }


    @media screen and (min-width: 768px) {
        width: 228px; 
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        width: 172px;
    }

}
