.logo {
  font-family: var(--logoFont);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: calc(28/24);
  color: #000000;
  display: inline-block;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31/26);
    }  

  &--padding {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
}
  
  .accent {
    color: var(--activeSelection); 
  }
  