.logo {
    font-family: var(--logoFont);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000000;
    display: inline-block;
     
    &--margin {
      margin-right: 93px;
    }
  }
  
  .accent {
    color: var(--activeSelection); 
  }
  